---
Language: Cpp
BasedOnStyle: Google

# Column and Indentation
ColumnLimit: 120
IndentWidth: 2
ContinuationIndentWidth: 4
UseTab: Never

# Function formatting
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false

# Brace wrapping
BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: true
  AfterClass: true
  AfterEnum: true

# Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true

# Enums
AllowShortEnumsOnASingleLine: false

# Array formatting
AlignArrayOfStructures: Right
